.card__input__style{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input__style{
    border: none !important;
}

.button__style{
    padding: 20px;
}